.header {
   font-family: PT Sans;
   position: relative;
   top: 0;
   left: 0;

   &__btn {
      @include btn(153px, 32px, none, #2F80ED, 12px, #2F80ED);
      transition: .6s;

      &:hover {
         background-color: #112F8A;
         color: #fff;
      }
   }

   .navbar-brand {
      &__img {
         width: 30px;
         height: 30px;
         object-fit: cover;
      }

      &__text {
         color: #656565;
         font-size: 11px;
      }
   }

   .nav-line {
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 0;
         width: 1px;
         height: 20px;
         background: #EAEAEA;
      }
   }

   .nav-link {
      font-size: 14px;
      color: #222;
      font-weight: 400;
      display: flex;
      align-items: center;

      &:hover {
         color: $blue;
      }
   }

   .dropdown {
      &-menu {
         margin: 0;
         min-width: 200px;
         padding: 0;
         border: none;
         border-radius: 0;
         outline: none;
         background-clip: border-box;

         &:hover {
            display: block;
         }

         &[data-bs-popper] {
            margin: 0;
         }
      }

      &-toggle {
         &.show {
            color: $blue;
         }

         &:hover+.dropdown-menu {
            display: block;
         }
      }

      &-item {
         font-size: 11px;
         min-height: 40px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         &:hover {
            background: $blue;
            color: #fff;
         }
      }
   }

   .nav-item-border {
      width: 24px;
      height: 24px;
      border: 1px solid #F3F3F3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6px;
      transition: .6s;

      &:last-child {
         margin-right: 0;
      }

      &:hover {
         background: $blue;

         .fab {
            color: #fff;
         }
      }
   }
}